app-hero {
	--hex-w: calc(26px * 2);
	--hex-h: calc(15px * 2);
	--hex-inner-diff: 2px;
	--hex-spacing: 6px;
	--hex-outer-color: var(--ctp-peach);
	--hex-inner-color: var(--ctp-base);
	--hex-inner-opacity: .15;

	position: relative;
	overflow-x: hidden;

	&>.hex-row {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		&:nth-child(1n + 2) {
			margin-top: calc(-1 * var(--hex-h));
		}

		&>.hex-col {
			position: relative;
			padding: var(--hex-spacing);

			&>.hexagon-bee-icon {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 2.5em;
				color: var(--ctp-rosewater);
				text-shadow: 0 0 4px var(--ctp-crust);
			}

			&>.hex-col-inner {
				position: relative;
				display: flex;
				flex-direction: column;

				&>.hex-top {
					width: 0;
					border-bottom: var(--hex-h) solid var(--hex-outer-color);
					border-left: var(--hex-w) solid transparent;
					border-right: var(--hex-w) solid transparent;
				}

				&>.hex-center {
					width: calc(var(--hex-w) * 2);
					height: calc(var(--hex-h) * 2);
					background-color: var(--hex-outer-color);
				}

				&>.hex-bottom {
					width: 0;
					border-top: var(--hex-h) solid var(--hex-outer-color);
					border-left: var(--hex-w) solid transparent;
					border-right: var(--hex-w) solid transparent;
				}

				&>.hex-inner {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					opacity: var(--hex-inner-opacity);

					&>.hex-top {
						width: 0;
						margin-bottom: -1px;
						border-bottom: calc(var(--hex-h) - var(--hex-inner-diff)) solid var(--hex-inner-color);
						border-left: calc(var(--hex-w) - var(--hex-inner-diff)) solid transparent;
						border-right: calc(var(--hex-w) - var(--hex-inner-diff)) solid transparent;
						border-radius: 2px;
					}

					&>.hex-center {
						width: calc((var(--hex-w) * 2) - (var(--hex-inner-diff) * 2));
						height: calc((var(--hex-h) * 2) - (var(--hex-inner-diff) * 2));
						margin-bottom: -1px;
						background-color: var(--hex-inner-color);
						border-radius: 2px;
					}

					&>.hex-bottom {
						width: 0;
						border-top: calc(var(--hex-h) - var(--hex-inner-diff)) solid var(--hex-inner-color);
						border-left: calc(var(--hex-w) - var(--hex-inner-diff)) solid transparent;
						border-right: calc(var(--hex-w) - var(--hex-inner-diff)) solid transparent;
						border-radius: 2px;
					}
				}

			}

			/* &>.hex-inner */
		}

		/* .hex-col */
	}

	/* &>.hex-row */

	&>.branding {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		font-size: 4em;
		text-align: center;
		text-shadow: 0 2px 4px var(--ctp-crust),
			0 0 20px var(--ctp-crust),
			0 0 50px var(--ctp-crust);
		user-select: none;

		&>small {
			display: block;
			margin-bottom: -12px;
			font-size: 0.3em;
			font-family: "Roboto", sans-serif;
			font-weight: 700;
			font-style: normal;
			color: var(--ctp-blue);

			&>i {
				color: var(--ctp-rosewater);
			}
		}

		&>.branding-title {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: center;

			&>.sneaky {
				font-family: 'Briem Hand';
				font-weight: 400;
				font-style: normal;
				color: var(--ctp-yellow);
			}

			&>.annie {
				font-family: "Roboto", sans-serif;
				font-weight: 400;
				font-style: normal;
				color: var(--ctp-rosewater);
			}
		}
	}

	/* &>.branding */
}

@media screen and (max-width: 500px) {
	app-hero {
		&>.branding {
			font-size: 3em;

			&>.small {
				margin-bottom: 6px;
			}
		}
	}
}
